.container {
    max-width: 330px;
    margin: 0 0 0 20px;
}

.container .select--button {
    display: flex;
    width: 180px;
    height: 30px;
    background: #fff;
    padding: 10px 20px 10px 20px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 8px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.container .options {
    position: absolute;
    width: 200px;
    overflow-y: auto;
    max-height: 295px;
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation-name: fadeInDown;
    -webkit-animation-name: fadeInDown;
    animation-duration: 0.35s;
    animation-fill-mode: both;
    -webkit-animation-duration: 0.35s;
    -webkit-animation-fill-mode: both;
}

.container .options .option {
    display: flex;
    height: 45px;
    cursor: pointer;
    padding: 0 16px;
    border-radius: 8px;
    align-items: center;
    background: #fff;
}

.container .options .option:hover {
    background: #f2f2f2;
}

.container .options .option .option--text {
    font-size: 18px;
    color: #333;
}

.select--button i {
    transition: 0.5s;
}

.button--arrow {
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 5px;
    rotate: 45deg;
    margin-left: 20px;
}

.button--arrow.active {
    rotate: -135deg;
}

.container.active .options {
    display: block;
    opacity: 0;
    z-index: 10;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
    animation-duration: 0.4s;
    animation-fill-mode: both;
    -webkit-animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
}

.options.hide .option.hide {
    display: none;
}

.container.in--booking--form {
    width: 100%;
    height: 100%;
    margin-left: 0px;
    padding: 0px;
}

.select--button.in--booking--form {
    width: 100%;
    height: 100%;
    margin-left: 0px;
    padding: 0px;
    font-size: 14px;
}

.button--text.in--booking--form {
    padding-left: 10px;
}

.button--arrow.in--booking--form {
    border-width: 0 1px 1px 0;
    margin-right: 20px;
}


.options.in--booking--form {
    padding: 10px;
}

.options.in--booking--form .option.in--booking--form {
    padding: 0px;
}

.options.in--booking--form .option.in--booking--form .option--text.in--booking--form {
    font-size: 14px;
    padding: 0px;
}

@keyframes fadeInUp {
    from {
        transform: translate3d(0, 30px, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@keyframes fadeInDown {
    from {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }

    to {
        transform: translate3d(0, 20px, 0);
        opacity: 0;
    }
}